{% extends "layout.html" %}
{% block content  %} 
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"/>
            <div class="media-body"> 
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d at %H:%M:%S') }}</small>
                    {% if post.author == current_user %}
                        <div>
                            <a class='btn btn-secondary btn-sm mt-1 mb-1' href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
                            <button class='btn btn-sm m-1 btn-danger' data-toggle='modal' data-target='#deleteModal'>Delete</button>
                        </div>
                    {% endif %}
                </div>
                
                <h2 class="article-title" >{{ post.title }}</h2>
              
                <p class="article-content">{{ post.content }}</p>
                {% if post.image_file != 'post.jpg' %}
                    <img  width="100%" src="{{ url_for('static', filename='post_pics/' + post.image_file) }}" />       
                {% endif %} 
            </div>
        </article> 
        {% for comment in comments %}
            <div class="media content-section">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}"/>
                <div class="media-body"> 
                    <div class="form-group"> 
                        <label for="{{ comment.date_posted }}">
                            <a  href="{{ url_for('users.user_posts', username=comment.author.username) }}">
                                {{ comment.author.username }}
                            </a>  
                            - {{ comment.date_posted.strftime('%Y-%m-%d at %H:%M:%S')  }}
                        </label>
                        {% if current_user.username == comment.author.username %}
                            <a class="btn btn-light" href="{{url_for('posts.delete_comment', comment_id=comment.id)}}">x</a>
                        {% endif %}
                        <input type="text" class="form-control border-bottom" id="{{ comment.date_posted }}" readonly placeholder="Write comment ..." value="{{ comment.content }}">
                    </div>
                </div>
            </div>  
        {% endfor %} 
        <form method="post" action=''>
            <div class="media content-section">
                {{ form.hidden_tag() }} 
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}"/>
                <div class="media-body"> 
                    <div class="form-group">
                        <label for="usr"><a  href="{{ url_for('users.user_posts', username=current_user.username) }}">{{ current_user.username }}</a></label>
                        {{ form.content.label(class="form-control-label") }}
                        {% if form.content.errors %}
                            {{ form.content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.content(class="form-control form-control-lg",id="usr",placeholder="Write comment ...") }}
                        {% endif %} 
                    </div>   
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info")}}
                    </div>  
                </div> 
            </div>  
        </form>   
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div> 
                <div class="modal-footer">
                    <form action="{{ url_for('posts.delete_post', post_id=post.id ) }}" method="post">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                        <input class="btn btn-danger" type="submit" value="Delete"/>
                    </form>
                </div>
                </div>
            </div>
        </div>
{% endblock content%}